@model EventPass1.Models.Ingresso

<h1>Ingressos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Quantidade
            </th>
            <th>
                Evento
            </th>
            <th>
                Usuario
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Quantidade
            </td>
            <td>
                @Model.Evento.NomeEvento
            </td>
            <td>
                @Model.Usuario.NomeUsuario
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Retirar ingresso</a>
                
            </td>
        </tr>
    </tbody>
</table>
